@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Author @ViewData["Author"]</p>

<address>
    <strong>More information:</strong>
    <a href="https://github.com/lurafael" target="_blank">Go to Github</a>
</address>
